---
import Layout from '../layouts/Layout.astro';
import Downloader from '../components/Downloader';
---

<Layout title="YouTube Downloader">
  <main>
    <Downloader client:load />
  </main>
</Layout>
